# Ignore virtual environment
env/
venv/

# Ignore other folders
sample_submission/
utils/
test/
resources/

# Old components folder
components/

# Ignore Misc
LICENSE
README.md
.DS_Store
.gitignore
*/__pycache__/
__pycache__

# Ignore files
*.png
*.ipynb
